<form novalidate #form="ngForm">
  <input type="hidden" name="paymentDetailId" [value]="service.formData.paymentDetailId"/>
  <div class="form-group">
    <label for="">CARD OWNER NAME</label>
    <input type="text" class="form-control-form-control-lg" placeholder="Full Name"
    name="cardOwnerName" #cardOwnerName="ngModel" [(ngModel)]="service.formData.cardOwnerName"
    required>
  </div>
  <div class="form-group">
    <label for="">CARD NUMBERS</label>
    <input type="text" class="form-control-form-control-lg" placeholder="16 Digit Card Number"
    name="cardNumber" #cardNumber="ngModel" [(ngModel)]="service.formData.cardNumber"
    required maxlength="16" minlength="16">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>SECURITY CODE</label>
      <input type="password" class="form-control-form-control-lg" placeholder="Security Code"
      name="securityCode" #securityCode="ngModel" [(ngModel)]="service.formData.securityCode"
      required maxlength="3" minlength="3">
    </div>
    <div class="form-group col-md-6">
      <label>VALID THROUGH</label>
      <input type="password" class="form-control-form-control-lg" placeholder="mm/yy"
      name="expirationDate" #expirationDate="ngModel" [(ngModel)]="service.formData.expirationDate"
      required maxlength="5" minlength="5">
    </div>
  </div>
  <div class="form-group">
    <button class="bt btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
  </div>
</form>
